<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>urn:uuid:CHANGEME</id>
  <updated>{{ current_time }}</updated>
  <link rel="self" href="" type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
  <link rel="start" title="" href=""
        type="application/atom+xml;profile=opds-catalog;kind=navigation"/>
  <link rel="search"
      href=""
      type="application/opensearchdescription+xml"/>
  <title>{{instance}}</title>
  <author>
    <name>{{instance}}</name>
    <uri></uri>
  </author>
</feed>
