<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:opds="http://opds-spec.org/2010/catalog">
  <id>{{ root_url }}{{ instance.url }}</id>
  <updated>{{ current_time }}</updated>
  <link rel="self"
        href="{{ root_url }}{{ instance.url }}"
        type="application/atom+xml;profile=opds-catalog;type=feed;kind=navigation"/>
  <link rel="start"
        href="{{ root_url }}{{ instance.url }}"
        type="application/atom+xml;profile=opds-catalog;type=feed;kind=navigation"/>

  <author>
    <name>{{ instance.name }}</name>
    <uri>{{ root_url }}{{ instance.url }}</uri>
  </author>

  <title>{{ instance.name }}</title>

  {% for feed in feeds %}
  <entry>
    <title>{{ feed.name }}</title>
    <id>{{ feed.id }}</id>
    <updated>{{ current_time }}</updated>
    <content type="text">{{ feed.content }}</content>
    <dc:language>en</dc:language>
    <link type="application/atom+xml;type=feed;profile=opds-catalog" href="{{ root_url }}{{ feed.url }}"/>
  </entry>
  {% endfor %}
</feed>
