html {
}

body {
  font-kerning: normal;
  font-variant: common-ligatures oldstyle-nums proportional-nums;
  font-feature-settings: "kern", "liga", "clig", "onum", "pnum";
}

h1,
h2,
h3 {
  font-variant: common-ligatures lining-nums proportional-nums;
  font-feature-settings: "kern", "liga", "clig", "lnum", "pnum";
}

table {
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "kern", "lnum", "tnum";
}

code {
  font-variant: no-common-ligatures lining-nums;
  font-feature-settings: "kern" 0, "liga" 0, "clig" 0, "lnum";
}

.fraction {
  font-variant-numeric: diagonal-fractions;
  font-feature-settings: "frac";
}

.hn2ebook-page-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}
.hn2ebook-page-meta {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.hn2ebook-article {
  padding-top: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.hn2ebook-comments {
  padding-top: 20px;
}

.hn2ebook-page-header h1 {
  adobe-hyphenate: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
  text-align: left;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 36px;
  display: inline;
}

.hn2ebook-comments .author,
.hn2ebook-comments .date {
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}

.hn2ebook-comments .number {
  font-weight: bold;
  font-size: 100%;
  color: initial;
}

.hn2ebook-comments ol {
  list-style-type: none;
  padding: 10px 0;
}

.hn2ebook-comments > ol > li {
  margin-bottom: 100px;
}

.hn2ebook-comments li {
  display: block;
  padding-top: 10px;
  font-weight: 700;
}

.hn2ebook-comments li:last-child {
  margin-bottom: 100px;
}

.hn2ebook-comments .comment-meta {
  display: inline-block;
}
.hn2ebook-comments li > .comment-body {
  font-weight: normal;
}

.hn2ebook-op {
  background-color: #0055df;
  display: inline;
  color: white;
}
